### Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
sns.set()

### Load File and Investigate

In [6]:
data = pd.read_csv('Chicago Weather Station Data.csv', parse_dates=[2])
data.head()

,STATION,NAME,DATE,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WESD,WT01,WT16,WT18
0,USC00111532,"CHICAGO LAKEVIEW PUMP, IL US",1948-07-01,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USC00111532,"CHICAGO LAKEVIEW PUMP, IL US",1948-07-02,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USC00111532,"CHICAGO LAKEVIEW PUMP, IL US",1948-07-03,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USC00111532,"CHICAGO LAKEVIEW PUMP, IL US",1948-07-04,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USC00111532,"CHICAGO LAKEVIEW PUMP, IL US",1948-07-05,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
data.describe()

,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WESD,WT01,WT16,WT18
count,53749.000000,36228.000000,36233.000000,54184.000000,54183.000000,21797.000000,622.000000,2286.0,540.0,2.0
mean,0.096948,0.089058,0.559048,58.200317,42.925032,50.462357,0.029582,1.0,1.0,1.0
std,0.306512,0.562209,1.900540,20.776471,18.985838,20.425397,0.220436,0.0,0.0,0.0
min,0.000000,0.000000,0.000000,-20.000000,-27.000000,-25.000000,0.000000,1.0,1.0,1.0
25%,0.000000,0.000000,0.000000,41.000000,30.000000,35.000000,0.000000,1.0,1.0,1.0
50%,0.000000,0.000000,0.000000,59.000000,43.000000,51.000000,0.000000,1.0,1.0,1.0
75%,0.040000,0.000000,0.000000,76.000000,59.000000,68.000000,0.000000,1.0,1.0,1.0
max,30.000000,16.400000,25.000000,171.000000,85.000000,101.000000,3.500000,1.0,1.0,1.0

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55568 entries, 0 to 55567
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   STATION  55568 non-null  object
 1   NAME     55568 non-null  object
 2   DATE     55568 non-null  datetime64[ns]
 3   PRCP     53749 non-null  float64
 4   SNOW     36228 non-null  float64
 5   SNWD     36233 non-null  float64
 6   TMAX     54184 non-null  float64
 7   TMIN     54183 non-null  float64
 8   TOBS     21797 non-null  float64
 9   WESD     622 non-null    float64
 10  WT01     2286 non-null   float64
 11  WT16     540 non-null    float64
 12  WT18     2 non-null      float64
dtypes: datetime64[ns](1), float64(10), object(2)
memory usage: 5.5+ MB

### Convert data types

In [12]:
# Parsed date column in initial .csv read

### Convert column names

In [14]:
data.columns.values

array(['STATION', 'NAME', 'DATE', 'PRCP', 'SNOW', 'SNWD', 'TMAX', 'TMIN',
       'TOBS', 'WESD', 'WT01', 'WT16', 'WT18'], dtype=object)

In [17]:
data = data.rename(columns={'PRCP':'Precipitation (in)', 'SNOW':'Snowfall (in)', 'SNWD':'Snow Depth (in)', 'TMAX':'Max. Temp (degF)', 'TMIN':'Min. Temp (degF)',
       'TOBS':'Observed Temp (degF)', 'WESD':'Water Equivalent to Snow'})

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55568 entries, 0 to 55567
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   STATION                   55568 non-null  object
 1   NAME                      55568 non-null  object
 2   DATE                      55568 non-null  datetime64[ns]
 3   Precipitation (in)        53749 non-null  float64
 4   Snowfall (in)             36228 non-null  float64
 5   Snow Depth (in)           36233 non-null  float64
 6   Max. Temp (degF)          54184 non-null  float64
 7   Min. Temp (degF)          54183 non-null  float64
 8   Observed Temp (degF)      21797 non-null  float64
 9   Water Equivalent to Snow  622 non-null    float64
 10  WT01                      2286 non-null   float64
 11  WT16                      540 non-null    float64
 12  WT18                      2 non-null      float64
dtypes: datetime64[ns](1), float64(10), object(2)
memory usage: 5.5+ MB

### Drop column values with high Null occurrences

In [21]:
data_drop = data.drop(['Water Equivalent to Snow', 'WT01', 'WT16', 'WT18'], axis=1)
data_drop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55568 entries, 0 to 55567
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   STATION               55568 non-null  object
 1   NAME                  55568 non-null  object
 2   DATE                  55568 non-null  datetime64[ns]
 3   Precipitation (in)    53749 non-null  float64
 4   Snowfall (in)         36228 non-null  float64
 5   Snow Depth (in)       36233 non-null  float64
 6   Max. Temp (degF)      54184 non-null  float64
 7   Min. Temp (degF)      54183 non-null  float64
 8   Observed Temp (degF)  21797 non-null  float64
dtypes: datetime64[ns](1), float64(6), object(2)
memory usage: 3.8+ MB

### Investigate different weater stations and divide data

In [24]:
data_drop['NAME'].unique()

array(['CHICAGO LAKEVIEW PUMP, IL US', 'CHICAGO BOTANIC GARDEN, IL US',
       'CHICAGO GRANT PARK, IL US',
       'CHICAGO WEATHER BUREAU CITY 2, IL US',
       'CHICAGO UNIVERSITY, IL US'], dtype=object)

In [ ]:
data